%header.toppageheader
  .header-top
    .header-top-left
      = fa_icon('twitter 2x', id: 'top_twitter_icon')
    .header-top-center
      .header-top-center__comment
        いまどうしてる？
    .header-top-right
      %ul
        %li.header-top-right__user-info
          アカウント作成
        %li.header-top-right__user-info
          ログイン
  .header-bottom-navbar
    .container
      .row
        %ul
          %li.col-lg-1
            .header-bottom-navbar__search
              = fa_icon('search 2x')
          %li.col-lg-1
            .header-bottom-navbar__top
              トップ
          %li.col-lg-1
            .header-bottom-navbar__entertainment
              エンタメ
          %li.col-lg-1
            .header-bottom-navbar__sports
              スポーツ
          %li.col-lg-1
            .header-bottom-navbar__news
              ニュース
          %li.col-lg-1
            .header-bottom-navbar__fun
              FUN
          %li.col-lg-4
            .header-bottom-navbar__public
              政府・公共機関・ライフライン
          %li.col-lg-1
            .header-bottom-navbar__other
              その他
.contents
  .content-top
    .content-top__moment
      .title_moment
        モーメント
      .all_moment
        すべて見る
      .container
        .row
          .moment_1.col-lg-2
          .moment_2.col-lg-2
          .moment_3.col-lg-2
          .mini_login.col-lg-2
  .content-center
    .content-center__head
      %span
        注目のツイート
    .container
      .row
        .content-center__comedy.col-lg-2
        .content-center__cute.col-lg-2
        .content-center__anime.col-lg-2
        .content-center__music.col-lg-2
    .content-center__movie
    .content-center__international
    .content-center__soccer
    .content-center__food
    .content-center__animal
    .content-center__baseball
    .content-center__game
    .content-center__economy
    .content-center__government
.footer
  .footer-top
    %ul
      %li
        .footer-top__menu
          twitterについて
      %li
        .footer-top__menu
          ヘルプセンター
      %li
        .footer-top__menu
          ブログ
      %li
        .footer-top__menu
          ステータス
      %li
        .footer-top__menu
          採用情報
      %li
        .footer-top__menu
          規約
      %li
        .footer-top__menu
          プライバシーポリシー
      %li
        .footer-top__menu
          クッキー
      %li
        .footer-top__menu
          広告について
      %li
        .footer-top__menu
          ブランド
      %li
        .footer-top__menu
          アプリ連携
      %li
        .footer-top__menu
          広告管理画面
      %li
        .footer-top__menu
          広告掲載方法
      %li
        .footer-top__menu
          開発者
  .footer-bottom
    %ul
      %li
        .footer-bottom__menu
          プロフィール一覧
      %li
        .footer-bottom__menu
          © 2017 Twitter
