.t-content-right-center__find-user-for-gmail
  .t-content-right-center__find-user-for-gmail-left
    %img.profile_image-size{:alt => "Open graph fallback", :src => "http://free.arinco.org/images/mail/mail-gmail-icon-2010.svg", class: 'gmail-image'}/
  .t-content-right-center__find-user-for-gmail-right
    .first-comment
      知り合いを見つけましょう
    .second-comment
      Gmailからアドレス帳をインポートする
.t-content-right-center__other-address-list
  他のアドレス帳に接続する
