.t-content-right-top-recommend-user-list-once
  %nav.navbar.navbar-default.t-content-right-top-recommend-user-list-once__name
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#navbarEexample", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"}
          = image_tag(user.profile_image, class: 'recommend-user-prfile_image-size')
      #navbarEexample.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{"data-toggle" => "dropdown", :href => "#", :role => "button",class: 'recommend-user-name' }
              = user.name
          %li
            %a{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              = user.user_name
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{"data-toggle" => "dropdown", :href => "#", :role => "button",class: 'recommend-user-name'}
              %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
    / %button.btn.btn-default.t-content-right-top-recommend-user-list-once__follow-btn{"aria-label" => "Left Align", :type => "button"}
    /   %span.glyphicon.glyphicon.glyphicon-user{"aria-hidden" => "true"}>
    = render partial: '/users/follow_form', locals: { user: user }
