.t-content-left-bottom-title
  .t-content-left-bottom-title__name
    トレンド
  .t-content-left-bottom-title__change
    変更する
.t-content-left-bottom-list
  .ul
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        アルアイン
      .t-content-left-bottom-list-once__content
        ファンディーナ来ず！皐月賞はアルアインとペルシアンナイトで大荒れ
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        ときのドロップ
      .t-content-left-bottom-list-once__content
        6,685件のツイート
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        \#皐月賞
      .t-content-left-bottom-list-once__content
        10,475件のツイート
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        \GKがすごい
      .t-content-left-bottom-list-once__content
        ゴール裏で見ている気分！NHKBSのGK専用チャンネル
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        ファンディーナ
      .t-content-left-bottom-list-once__content
        18,995件のツイート
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        ダンビュライト
      .t-content-left-bottom-list-once__content
        5,373件のツイート
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        \#高砂DF
      .t-content-left-bottom-list-once__content
        話題の高砂DFがすごい！一発あるか！
    .li.t-content-left-bottom-list-once
      .t-content-left-bottom-list-once__title
        \#ぽっちゃり？スリム？
      .t-content-left-bottom-list-once__content
        ぽっちゃり派とスリム派で意見が二分。あなたはどっち？
