%header.toppageheader
  .header-top
    .header-top-left
      = fa_icon('twitter 2x', id: 'top_twitter_icon')
    .header-top-center
      .header-top-center__comment
        いまどうしてる？
    .header-top-right
      .ul
        .li.header-top-right__user-info
          アカウント作成
        .li.header-top-right__user-info
          ログイン
  .header-bottom-navbar
    .container
      .row
        .ul
          .li
            .header-bottom-navbar__search.col-lg-1
            = fa_icon('search 2x')
          .li
            .header-bottom-navbar__top.col-lg-1
              トップ
          .li
            .header-bottom-navbar__entertainment.col-lg-1
              エンタメ
          .li
            .header-bottom-navbar__sports.col-lg-1
              スポーツ
          .li
            .header-bottom-navbar__news.col-lg-1
              ニュース
          .li
            .header-bottom-navbar__fun.col-lg-1
              FUN
          .li
            .header-bottom-navbar__public.col-lg-5
              政府・公共機関・ライフライン
          .li
            .header-bottom-navbar__other.col-lg-1
              その他
%contents
  .content-top
    .content-top__moment
      ツイート
      ツイート
      ツイート
    .content-top__mini-login
      Twitterにログイン
      電話番号/メールアドレス・・・・
      パスワード
      ログイン
  .content-center
    .content-center__head
      注目のツイート
    .content-center__comedy
    .content-center__cute
    .content-center__anime
    .content-center__music
    .content-center__movie
    .content-center__international
    .content-center__soccer
    .content-center__food
    .content-center__animal
    .content-center__baseball
    .content-center__game
    .content-center__economy
    .content-center__government
%footer
  .footer-top
    .ul
      .li
        .footer__menu
          twitterについて
      .li
        .footer__menu
          ヘルプセンター
      .li
        .footer__menu
          ブログ
      .li
        .footer__menu
          ステータス
      .li
        .footer__menu
          採用情報
      .li
        .footer__menu
          規約
      .li
        .footer__menu
          プライバシーポリシー
      .li
        .footer__menu
          クッキー
      .li
        .footer__menu
          広告について
      .li
        .footer__menu
          ブランド
      .li
        .footer__menu
          アプリ連携
      .li
        .footer__menu
          広告管理画面
      .li
        .footer__menu
          広告掲載方法
      .li
        .footer__menu
          開発者
    .ul
      .li
        .footer__menu
          プロフィール一覧
      .li
        .footer__menu
          © 2017 Twitter
