.toppageheader{
  @include clearfix();

  .container{
    padding: 0;
  }

  .header-top{
    @include clearfix();
    height: 80px;
    background-color: #38AEF0;
    padding: 0 200px;
    line-height: 80px;

    .header-top-left{
      float: left;
      width: calc(100% / 3);

      #top_twitter_icon{
        margin: 0 auto;
        color: white;
      }
    }

    .header-top-center{
      float: left;
      width: calc(100% / 3);

      &__comment{
        text-align: center;
        color: $WhiteColor;
        font-size: 30px;
      }
    }

    .header-top-right{
      float: left;
      width: calc(100% / 3);

      &__user-info{
        float: right;
        margin-left: 20px;
      }
    }
  }

  .header-bottom-navbar{
    height: 60px;
    padding: 0 200px;
    line-height: 60px;
    border: 1px solid $Lite-Gray;

    li{
      border-right: 1px solid $Lite-Gray;
      border-left: 1px solid $Lite-Gray;
      text-align: center;
      margin-bottom: -1px;
    }
  }
}

.contents{
  background-color: $very-Lite-Gray;
  height: calc(100vh - 200px);

  .content-top{


    .content-top__moment{
      @include clearfix();
      margin: 0 200px;
      padding-top: 10px;


      .title_moment{
        float: left;
        margin-left: 10px;
      }

      .all_moment{
        float: left;
        margin-left: 10px;
      }

      .moment_1{
        height: 200px;
        background-color: red;
        margin: 10px;
        clear: both;
      }

      .moment_2{
        height: 200px;
        background-color: blue;
        margin: 10px;
      }

      .moment_3{
        height: 200px;
        background-color: green;
        margin: 10px;
      }

      .mini_login{
        height: 200px;
        background-color: yellow;
        margin: 10px;
      }
    }
  }

  .content-center{
    margin: 0 200px;

    .content-center__head{
      border-top: 1px solid black;
      margin:23px 0 0;
      text-align:center;
      padding:0; height:24px;

      span{
        position: relative;
        top: -12px;
        padding: 0 20px;
        background-color: $very-Lite-Gray;
      }
    }

    &__comedy{
      height: 200px;
      background-color: red;
      margin: 10px;
    }

    &__cute{
      height: 200px;
      background-color: blue;
      margin: 10px;
    }

    &__anime{
      height: 200px;
      background-color: green;
      margin: 10px;
    }

    &__music{
      height: 200px;
      background-color: yellow;
      margin: 10px;
    }
  }
}

.footer{
  height: 60px;
  background-color: $WhiteColor;
  border-top: 1px solid $Lite-Gray;
  padding: 5px 0;

  .footer-top{
    @include clearfix();
    text-align: center;
    padding: 0 200px;

    &__menu{
      float: left;
      margin-left: 15px;
      font-size: 12px;
    }
  }

  .footer-bottom{
    @include clearfix();
    text-align: center;
    padding: 0 200px;

    &__menu{
      float: left;
      margin-left: 15px;
      font-size: 12px;
    }
  }
}
