.global-topbar{
  background-color: $WhiteColor;
  padding: 0 15%;

  .navbar-twiiter-icon{
    padding-left: 70px;

    #user-page-twitter-icon{
      color: $LiteBlue;
    }
  }

  #tweet-btn{
    background-color: $LiteBlue;
    color: $WhiteColor;
  }
}

.t-contents{
  @include clearfix();
  margin-top: 51px;
  padding: 0 15%;
  background-color: $Lite-Purple;
  min-height: 150vh;

  .t-content-left{
    float: left;
    width: 25%;
    background-color: $Lite-Purple;

    .t-content-left-top{
      height: 150px;
      margin: 10px 10px 0 0;
      border: 1px solid $Lite-Gray;
    }

    .t-content-left-bottom{
      margin: 10px 10px 0 0;
      padding: 10px;
      border: 1px solid $Lite-Gray;
      background-color: $WhiteColor;

      .t-content-left-bottom-title{
        @include clearfix();

        &__name{
          float: left;
          color: $Gray;
        }

        &__change{
          float: left;
          font-size: 11px;
          font-weight: bold;
          color: $LittleLiteBlue;
          margin: 3px 0 0 10px;
        }
      }

      .t-content-left-bottom-list{

        .t-content-left-bottom-list-once{
          margin-top: 10px;
          font-size: 11px;

          &__title{
            font-weight: bold;
            color: $LittleLiteBlue;
          }

          &__content{
            color: $Gray;
          }
        }
      }
    }
  }

  .t-content-center{
    float: left;
    width: 50%;
    background-color: $Lite-Purple;
    margin-top: 10px;
    border: 1px solid $Lite-Gray;

    .t-content-center-top{
      height: 50px;
      background-color: #eff;
      border-bottom: 1px solid $Lite-Gray;

      .t-content-center-top-textfield{
        height: 30px;
        width: 80%;
        margin: 10px;
      }
    }

    .t-content-center-bottom{

      .t-content-center-bottom-tweet{
        @include clearfix();
        background-color: $WhiteColor;
        min-height: 85px;
        padding: 10px;
        border-bottom: 1px solid $Lite-Gray;

        .t-content-center-bottom-tweet-top{
          background-color: $WhiteColor;
          margin-bottom: 0;
          font-size: 11px;
          height: 20px !important;
          min-height: 20px !important;
          border: 1px solid $WhiteColor;

          .navbar-brand {
            padding: 0;
            height: 20px;
          }

          .navbar-nav > li > a {
            padding: 0 0 0 10px !important;
          }

          .prfile_image-size{
            height: 65px;
            width: 65px;
          }


          &__name{
            float:left;
          }

          &__user_name{
            float: left;
          }

          &__created_at{
            float: left;
          }

          &__dropdown{
            float: right;
          }
        }

        .t-content-center-bottom-tweet-bottom{
          min-height: 45px;
          padding-left: 75px;

          &__body{
            clear: both;
          }

          &__image{
            clear: both;
          }
        }
      }
    }
  }

  .t-content-right{
    float: left;
    width: 25%;
    background-color: $Lite-Purple;

    .t-content-right-top{
      background-color: $WhiteColor;
      margin: 10px 0 0 10px;
      padding: 10px;
      border: 1px solid $Lite-Gray;

      .t-content-right-top-title{
        @include clearfix();

        &__name{
          float: left;
          color: $Gray;
        }

        &__update{
          float: left;
          font-size: 11px;
          font-weight: bold;
          color: $LittleLiteBlue;
          margin: 3px 0 0 10px;
        }

        &__see-all{
          float: left;
          font-size: 11px;
          font-weight: bold;
          color: $LittleLiteBlue;
          margin: 3px 0 0 10px;
        }
      }

      .t-content-right-top-recommend-user-list{

        .t-content-right-top-recommend-user-list-once{
          height: 70px;
          padding-top: 10px;

          &__name{
            background-color: $WhiteColor;
            margin-bottom: 0;
            font-size: 11px;
            height: 20px !important;
            min-height: 20px !important;
            border: 1px solid $WhiteColor;

            .navbar-brand {
              padding: 0;
              height: 20px;
            }

            .navbar-nav > li > a {
              padding: 0 0 0 10px !important;
            }

            .recommend-user-prfile_image-size{
              height: 50px;
              width: 50px;
            }

            .recommend-user-name{
              font-weight: bold;
              color: black;
            }

            .glyphicon-remove{
              margin-right: 5px;
            }

            .t-content-right-top-recommend-user-list-once__follow-btn{
              margin-left: 60px !important;
              font-size: 11px !important;
              background-color: $very-Lite-Gray;
            }
          }
        }
      }
    }

    .t-content-right-center{
      margin: 10px 0 0 10px;
      padding: 10px;
      background-color: $WhiteColor;
      border: 1px solid $Lite-Gray;

      &__find-user-for-gmail{
        @include clearfix();
        padding-bottom: 10px;

        &-left{
          float: left;

          .profile_image-size{
            height: 40px;
            width: 40px;
          }
        }

        &-right{
          float: left;
          padding: 5px;

          .first-comment{
            font-size: 11px;
            font-weight: bold;
          }

          .second-comment{
            font-size: 10px;
            color: $Gray;
          }
        }
      }

      &__other-address-list{
        font-size: 12px;
        text-align: center;
        color: $LittleLiteBlue;
        padding: 10px 0 0 0;
        border-top: 1px solid $Lite-Gray;
        font-weight: bold;
      }
    }

    .t-content-right-bottom{
      margin: 10px 0 0 10px;
      padding: 10px;
      background-color: $WhiteColor;
      border: 1px solid $Lite-Gray;

      &__any-menu{
        font-size: 11px;
        color: $Gray;
        padding-bottom: 10px;
      }

      &__twitter-advertisement{
        font-size: 12px;
        text-align: center;
        color: $LittleLiteBlue;
        padding: 10px 0 0 0;
        border-top: 1px solid $Lite-Gray;
        font-weight: bold;
      }
    }
  }
}
